<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rickey.apiInterface.mapper.EncouragementMapper">

    <resultMap id="BaseResultMap" type="com.rickey.apiInterface.model.entity.Encouragement">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="message" column="message" jdbcType="VARCHAR"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,message,createTime,
        updateTime,isDelete
    </sql>
    <select id="getRandomEncouragement" resultType="com.rickey.apiInterface.model.entity.Encouragement">
        SELECT *
        FROM encouragement
        WHERE isDelete = 0
        ORDER BY RAND() LIMIT 1
    </select>


</mapper>
